/*Responsive*/
.logo{
    width: 300px;
}


/*tablet*/
@media (min-width: 600px) and (max-width: 1023px){
    .logo {width: 250px;}
    .iframes {width: 200; height: 100;}
    .items a, .items2 a {font-size: 15}
}
/*smartphone*/

@media (max-width: 599px) {
    .logo {width: 170px;}
    .iframes {width: 200; height: 100;}
    .items a, .items2 a {font-size: 10}
}


/*Encabezado*/

.encabezado {
display: grid;
grid-template-columns: 1fr 1fr;
border: 3px solid black;
background-color: #cecece;
overflow: hidden;
}


.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: right;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
background-color: rgb(83, 38, 38);

}


.padding {padding: 5px;}

/*Main*/
.main {
    display: grid;
    grid-template-columns: 1fr  2fr 1fr;
    height: 700px;
    border: 3px solid black;
    background-color: #cecece;
    margin: 5px;
    grid-column-gap: 3px;

}
.iframes {width:560; height: 315;}

video {width: 100%; height: 100%}
.absolute {
width: 100%; height: 100%; 
top: 0; right: 0; position: absolute;
text-align: right; display: flex; justify-content: center
;
}


/*Estilos de letras*/
.cursiva {
    font-style: italic;
}
.flex{ 
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 15px;
    margin-top: 15px;
}
.aLaDerecha {
    text-align: right;
    padding-top: 25px;
}
.colorNegro {
    text-decoration-color: none;
    margin: 4px;
    padding: 2px;

}
a {
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
    }



/*Efectos hover*/


@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.header{
  background:#222;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  text-align: right;
  height: 100vh;
}
.items, .items2{
  margin: 0 auto;
  max-width: 1140px;
}
.items2{
  padding-top:50px;
}
.items a, .items2 a{
  display:inline-block;
  text-decoration:none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1px;
  font-weight:400;
  margin:0 3px;
  height: 22px;
  overflow: hidden;
}
.items a span{
  display: inline-block;
  position: relative;
  transition: transform 500ms;
  -webkit-transition: -webkit-transform 500ms;
  -moz-transition: transform 500ms;
  
}
.items a span:after{
  content: attr(data-hover);
  position: absolute;
  top: -30px;
  left:0;
  transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
.items a:hover span,
.items a:focus span {
	transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
}
  

  /*Otros efectos*/
  